:root {
  --clr-yellow: hsl(47, 88%, 63%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(0, 0%, 50%);
  --clr-black: hsl(0, 0%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree";
  background-color: var(--clr-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.blog {
  background-color: var(--clr-white);
  width: 390px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 10px 10px;
}

.blog__img {
  width: 100%;
  border-radius: 10px;
}

.blog__content {
  margin: 24px 0;
}

.blog__content-heading {
  display: inline-block;
  font-size: 16px;
  background-color: var(--clr-yellow);
  border-radius: 4px;
  padding: 8px 12px;
  margin-bottom: 12px;
}

.blog__content-publishdate {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 12px;
}

.blog__content-title {
  font-size: 29px;
  margin-bottom: 12px;
  transition: 0.15s;
  cursor: pointer;

  &:hover {
    color: var(--clr-yellow);
  }
}

.blog__content-description {
  font-size: 16px;
  color: gray;
  line-height: 1.5;
}

.blog__author {
  display: flex;
  text-align: center;
}

.blog__author-img {
  width: 32px;
  margin-inline-end: 12px;
}

.blog__author-name {
  line-height: 1.7;
}
